
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #6973FE;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h2{
    font-weight: 600;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


