/* ButtonAppBar.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
    min-height: 100vh; 
    background-image: url('/src/app/assets/img/users/Home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: flex; 
  }
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .top_companies{
    font: Poppins;
    margin: 10px;
    /* color: #7797FE; */
    text-align: center;
  }
  
  .top_searches{
    font: Poppins;
    margin: 10px;
    /* color: #7797FE; */
    text-align: center;
  }
  
  
  
  /*========== CARD CSS ==========*/
  
  .cards-container {
    display: flex; 
    align-items: center;
    justify-content: space-evenly; 
    cursor: pointer;
    padding: 20px;  
  }
  
  .card {
    flex: 0 0 calc(15% - 20px);
    padding: 20px; 
    height: 80px; 
    padding: 20px;
    margin: 0; 
    border-radius: 20px; 
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1);        
  }
  
  .card:hover{
    box-shadow:2px 2px 2px 6px rgba(0, 0, 0, 0.1);    
  }
  
  .card img {
    width: 100%; 
    height: 100%;
    object-fit:contain; 
  }
  
  .arrow {
    font-size: 1.6rem;
    cursor: pointer;
    /* color: white;
    background-color: #7797FE; */
    align-items: center;
    display: flex;
    border-radius: 50%;
    padding: 15px;
  }
  
  .arrow:hover{
    color: #7797FE;
    background-color:#e8ecf8;
    border-color: #7797FE;
  }
  
  
  /* Media query for small screens */
   @media (max-width: 850px) {
    .cards-container {
    flex-wrap: wrap;
    justify-content: center;
    } 
    
    .card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    }
    } 
    
    
     @media (max-width: 480px) {
      .cards-container {
        flex-wrap: wrap;
        justify-content: center;
        }
    .card {
    flex: 0 0 calc(50% - 20px);
    }
    } 
    
    /* Responsive styles for arrows */
    @media (max-width: 850px) {
    .arrow {
    font-size: 1rem;
    padding: 0.6em;
    }
    }
    
    @media (max-width: 400px) {
    .arrow {
    font-size: 0.8rem;
    padding: 0.6em;
    }
    }
  
  
  /*========== CHIPS CSS ==========*/
/*   
  .container {
    width: 100%;
    display: flex;
    justify-content: center;

  } */
  
  /* .sub-container{
    flex-wrap: wrap;
    margin: 5px;
    padding: 8px; */
    /* color:white; */
  /* } */
  
  /* .container .MuiChip-label {
    font: Poppins;
    font-size: 18px; 
    font-weight: 100;
  } */
  
  /* .container .MuiChip-outlined {
    background-color:#7797FE;
    color: white;
    padding: 20px;
    margin:5px ;
  } */
  
  /* .container .MuiChip-outlined:hover{
    color:white;
    background-color: white;
    border-color: #7797FE;
    cursor: pointer;
  } */
  
  
  /*========== BLOCKS CSS ==========*/
  
  .block, .sub-block {
    box-sizing: border-box;
  }
  
  .block {
    display: flex;
    flex-direction: column;
    width: auto; 
    height: auto;
    border: 1px solid #7797FE;
    padding: 20px; 
    margin: 20px;
  }
  
  
  .sub-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10px; 
  }
  
  .centered-content {
    /* color: #7797FE; */
    font: Poppins;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .centered-content-sub{
    /* color:black; */
    font-weight:400;
  }
  
  
  .text {
    margin-bottom: 60px;
    font-size: 20px;
  }
  
  .btn-primary{
    margin-bottom: 50px;
  }
  
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
  }
  
  @media screen and (max-width: 768px) {
    .sub-block {
      flex-direction: column;
    }
  
    .text {
      font-size: 16px;
    }
  
    .btn-primary {
      margin-bottom: 18px;
    }
  
    .logo-content {
      font-size: 16px;
    }
  
    .bottom {
      flex-direction: column;
      justify-content: space-around;
    }
  }



 