body {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .recruiter {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }
  
  .recruiter img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .main {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden; 
  }
  
  .container {
    display: flex;
    justify-content: center; 
  }
  
  .left-side,
  .right-side {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    font-size: 20px;
    border: 1px solid #6973FE;
    background-color: white;
    margin: 35px;
    padding: 20px;
  }
  
  h5 {
    font-weight: 100;
  }
  
  .button {
    display: flex;
    align-items: center;
  }
  
  .button button {
    font-size: 16px;
    padding: 12px 20px;
  }
  

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-top: 60px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 1090px) {
    .image {
      display: none; 
    }
    .button button {
      margin-top: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .left-side,
    .right-side {
      margin: 15px;
    }
  
    .image {
      display: none;
    }
  
    .button button {
      font-size: 10px;
      padding: 8px 14px;
      margin-top: 20px;
    }
  
    .left-side,
    .right-side {
      font-size: 14px;
    }
  }
  