* Register.css */
.top{
  max-height: 100%;
}
/* .upper{
  display: flex;
} */
.middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
  
  .midleft {
    flex: 1;
    width: 40%;
    display: block;
    text-align: center;
  }
  
  .midright {
    flex: 1;
    width: 50%; 
  }

  .logoContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px; 
}

.logo {
    max-width: 100px; 
    height: auto;
    margin: 0 40px; 
}
  
  @media (max-width: 600px) {
    .middle {
      flex-direction: column;
    }
    .logoContainer {
      flex-direction: row;
      align-items: center;
  }
  
  .logo {
      margin: 10px 10px; 
  }
  }
  
  
  @media (max-width: 350px) {
    .middle {
      margin: 10px;
    }
  }
  
  .end {
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .end img {
      height: auto;
      max-width: 100%;
    }
  }
  
  @media (max-width: 350px) {
    .end {
      padding: 0 10px;
    }
  }
  
  @media (max-width: 350px) {
    .midleft {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 350px) {
    .midleft img {
      width: 100%;
      height: auto;
      max-width: 150px;
      max-height: 138px;
    }
  }
  
  @media (max-width: 600px) {
    .midright {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 350px) {
    .midright {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form {
      padding: 0 10px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root {
      margin: 0;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root:nth-last-child(2) {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root:last-child {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root .MuiTypography-root {
      font-size: 14px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root .MuiButton-root {
      width: 100%;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root .MuiGrid-root {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root .MuiGrid-root:last-child {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root .MuiGrid-root img {
      width: 30px;
      height: 30px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root .MuiGrid-root:last-child .MuiButton-root {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root:last-child .MuiTypography-root {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root:last-child .MuiButton-root,
    .midright form .MuiFormControl-root .MuiGrid-root:last-child .MuiTypography-root {
      width: 100%;
    }
  }
  
  @media (max-width: 350px) {
    .midright form .MuiFormControl-root .MuiGrid-root:last-child .MuiButton-root {
      margin-bottom: 10px;
    }
  }
 
 @media (max-width: 350px) {
    .Top1
    {
       width: 50%;
    }
  }
  
  